<%- include("partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-danger" id="name">            
                   O nas
                    <br>
                    <span class="school">Najważniejsze informacje</span>
                </div>
                <div class="card-body">
                    <p class="title text-danger">Nauka Jazdy „DRIVER” nauczy Was
                            jak dobrze prowadzić samochód!</p>
                    <p class="info">
                            Nasza firma stawia sobie za cel osiągnięcie jak najwyższej zdawalności Naszych Kursantów. Gwarantujemy bezstresowe warunki szkolenia teoretycznego i praktycznego. Zajęcia prowadzone są w miłej i przyjaznej atmosferze.
                            <br>
                            <br>
                            Nauczenie teoretyczne odbywa się w sali wykładowej, która wyposażona jest w nowe, ciekawe i aktywizujące pomoce dydaktyczne. Pozwala to na łatwe i szybkie przyswojenie wiedzy teoretycznej.
                            <br>
                            <br>
                            Nauka praktyczna jest dostosowywana do indywidualnych potrzeb Naszych Kursantów. Dodatkowym atutem jest odbywanie nauki na pojazdach marki <span class="text-danger"> <strong>TOYOTA YARIS, Suzuki Gladius, Kawasaki ER5, Honda 125 CBR, Romet XZ 50,</strong> </span> identycznych jak na egzaminie państwowym w Głogowie. Szkolenie ma na celu zdobycie wiedzy z zakresu zasad poruszania się po drodze, sztuki kierowania samochodem oraz obsługi i zasad działania podstawowych mechanizmów w samochodzie. Aby zwiększyć jakość oferowanych usług nauka z zakresu szkolenia praktycznego odbywa się także w miastach WORD!
                    </p>
                    <p class="info"><strong>
                            To wszystko sprawi, że nauka będzie efektywna i spowoduje bardzo dobre przygotowanie do państwowego egzaminu w WORD!
                            <br>
                            Tak więc jazda samochodem staje się przyjemnością!
                    </strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#about").addClass("active");
    $("#about").css("border-bottom", "1px solid white")
</script>
<%- include("partials/footer") %>