<%- include("partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-danger" id="name">                            
                    Zapisy
                    <br>
                    <span class="school">Na najbliższe kursy</span>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-12 text-center">
                                    
                                    <form action="">
                                        <input type="text" name="name" placeholder="Imię i nazwisko" class="form-control">
                                        <br>
                                        <input type="tel" name="phone" placeholder="Nr telefonu" class="form-control">
                                        <br>
                                        <input type="email" name="email" placeholder="Adres email" class="form-control">
                                        <br>
                                       
                                        <select name="message" class="form-control" style="background: none;
                                        border: none;
                                        border-bottom: 1px solid black;
                                        color: black;
                                        font-family: 'Nunito', sans-serif;">
                                            <option>Wybierz jeden z następnych terminów</option>
                                            <option>Głogów, 21.01.2020 godz. 16:00</option>
                                            <option>Wschowa, 21.01.2020 godz. 17:30</option>
                                            <option>Głogów, 04.02.2020 godz. 16:00</option>
                                            <option>Wschowa, 04.02.2020 godz. 17:30</option>
                                            <option>Głogów, 18.02.2020 godz. 16:00</option>
                                            <option>Wschowa, 18.02.2020 godz. 17:30</option>
                                        </select>
                                        <br>
                                        <div class="d-inline">
                                            <input type="submit" value="Zapisz się!" class="btn btn-outline-danger">
                                            <input type="reset" value="Wyczyść" class="btn btn-outline-danger">
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>