<%- include("partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-danger" id="name">                            
                    Galeria
                    <br>
                    <span class="school">Zdjęcia naszych aut i motocykli</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/10.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/11.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/12.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/13.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/14.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/15.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/16.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/17.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/19.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <img src="/20.jpg" alt="" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#gallery").addClass("active");
    $("#gallery").css("border-bottom", "1px solid white")
</script>
<%- include("partials/footer") %>