<%- include("partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
                <div class="card" style="background: #eeeeee">
                        <div class="card-title text-center text-danger" id="name">
                            
                            Oferta
                            <br>
                            <span class="school">Kursu prawa jazdy kategorii. <strong>B</strong></span>
                        </div>
                        <div class="card-body">
                           
    
    
                               <ul>
                                <span class="title text-danger">Oferujemy kursy prawa jazdy na kat. B, AM, A1, A2, A</span>
                                <li class="info">
                                    nowe cztery samochody <span class="text-danger"> <strong>TOYOTA YARIS</strong> </span>  (identyczny jak w WORD Głogów)
                                </li>
                                <li class="info">Suzuki Gladius kat A</li>
                                <li class="info">Honda 125 CBR kat A1</li>
                                <li class="info">Kawasaki ER5 kat A2</li>
                                <li class="info">Romet Xz 50 kat AM</li>
                                <br>
                                <br>
                                <li class="info">zajęcia teoretyczne</li>
                                <li class="info">zajęcia praktyczne </li>
                                <li class="info">egzamin wewnętrzny</li>
                                <li class="info">jazda w miastach WORD (Głogów )</li>
                                <li class="info">dogodne godziny jazdy</li>
                                <li class="info">zajęcia z pierwszej pomocy</li>
                                <li class="info">niezbędne pomoce szkoleniowe gratis !!!</li>
                           </ul> 
    
                            <ul>
                                <span class="title text-danger">Zajmujemy się również jazdami doszkalającymi:</span>
                                <li class="info">
                                    gdy zachodzi potrzeba poprawienia dotychczasowej techniki jazdy,
                                </li>
                                <li class="info">kiedy chcą Państwo poprawić swoje umiejętności, bądź przypomnieć sobie jak się prowadzi samochód.</li>
                            </ul> 
    
    
    
    
    
                            <ul>
                                <span class="title text-danger">Kursy dodatkowe:</span>
                                <li class="info">
                                    jazdy doszkalające
                                </li>
                                <li class="info">dodatkowe zajęcia praktyczne</li>
                                <li class="info">
                                    dodatkowa zajęcia teoretyczne
                                </li>
                                <li class="info">5 godzin (60 min) jazdy samochodem + egzamin wewnętrzny</li>
                                <li class="info">10 godzin (60 min) jazdy samochodem + egzamin wewnętrzny</li>
                                <li class="info">wynajem placu manewrowego w WORD Głogów</li>
                            </ul> 
    
                            <ul>
                                <span class="title text-danger">Oferujemy również pomoc w dodatkowych czynnościach, jakimi są m.in.:</span>
                                <li class="info">
                                    zarezerwowanie terminu na egzamin państwowy w WORD-ie,
                                </li>
                                <li class="info">przyjeżdżamy do Naszych Kursantów.</li>
                            </ul> 
                            
    
                        </div>
                    </div>
        </div>
    </div>
</div>
<script>
    $("#offer").addClass("active");
</script>
<%- include("partials/footer") %>