<%- include("partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #eeeeee">
                <div class="card-title text-center text-danger" id="name">                            
                    Cennik
                    <br>
                    <span class="school">Ile pieniędzy musisz przygotować</span>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <p class="info">Płatności za kurs można regulować jednorazowo, jak również na raty.</p>
                        <p class="info">Kategoria B - <span class="text-danger"><strong><ins>1600zł</ins></strong></span> </p>
                        <p class="info">I rata - <span class="text-danger"><strong><ins>200zł</ins></strong></span> wpisowe</p>
                        <p class="info">II rata - <span class="text-danger"><strong><ins>500zł</ins></strong></span> płatna przed pierwszą jazdą</p>
                        <p class="info">III rata - <span class="text-danger"><strong><ins>500zł</ins></strong></span> płatna przed 10 godz. jazdy</p>
                        <p class="info">IV rata - <span class="text-danger"><strong><ins>400zł</ins></strong></span> płatna przed 20 godz. jazdy</p>
                        <p class="info">Kategoria A- <span class="text-danger"><strong><ins>1300zł</ins></strong></span></p>
                        <p class="info">Kategoria A1 - <span class="text-danger"><strong><ins>1100zł</ins></strong></span></p>
                        <p class="info">Kategoria A2 - <span class="text-danger"><strong><ins>1300zł</ins></strong></span></p>
                        <p class="info">Kategoria AM - <span class="text-danger"><strong><ins>400zł</ins></strong></span></p>
                        <p class="info">Cennik jazd dodatkowych</p>
                        <p class="info">
                            1 godzina <span class="text-danger"><strong><ins>kat. B - 60zł</ins></strong></span>
                        </p>
                        <p class="info">
                            1 godzina <span class="text-danger"><strong><ins>kat. A - 80zł</ins></strong></span>
                        </p>
                        <p class="info">
                            1 godzina <span class="text-danger"><strong><ins>kat. A2 - 80zł</ins></strong></span>
                        </p>
                        <p class="info">
                            1 godzina <span class="text-danger"><strong><ins>kat. A1 - 80zł</ins></strong></span>
                        </p>
                        <p class="info">
                            1 godzina <span class="text-danger"><strong><ins>kat. AM - 70zł</ins></strong></span>
                        </p>
                        <p class="info text-danger">Wpłat można również dokonywać za pomocą przelewu bankowego</p>
                        <p class="info">Numer konta - <span class="text-danger"><strong>09 1140 2004 0000 3402 6477 8965</strong></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#pricelist").addClass("active");

   
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $("#pricelist").css("text-decoration", "underline");
    } else {
        $("#pricelist").css("border-bottom", "1px solid white");
    }
</script>
<%- include("partials/footer") %>